* {
    font-family: "Poppins", sans-serif;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.row-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height:80%;
    min-height: 80%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.548);
    background: linear-gradient( rgb(57, 215, 226,.84), rgb(8, 69, 73,.95)),url('https://i.postimg.cc/Fs92KCG6/pixelcut-export-1.png') no-repeat left center;
    background-size: cover;
}


.col-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.548);
    
}

.col-text .col-titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    width: 70%;
    color: #FFFF;
}

.col-titulo p {
    font-weight: 200;
    font-size: 14px;
}

.col-titulo h3 {
    font-weight: 500;
    font-size: 38px;
    color: #FFFF;
}


.col-text .col-detalle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:max-content;
    width: 70%;
    font-size: 14px;
}

.col-text .col-detalle .titulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 14px;
    gap: 10px;
    color: #FFFF;
}

.descripcion h4 {
    font-weight: 500;
    font-size: 14px;
}

.descripcion p {
    font-weight: 200;
    font-size: 12px;
}


.icon img {
    height: 20px;
}

.col-form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
    background-color: #FFFF;
    
}

.col-titulo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: max-content;
    width: 100%;
  
}


.col-recatchap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: max-content;
    width: 100%;
    font-size: 12px;
    color: #84818A;;
   
}


.col-titulo-form h1 {
    font-size: 36px;
}

.col-titulo-form h2 {
    font-size: 25px;
}



form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 60%;
    height: max-content;
    width: 80%;
 
}

.form-control {
    border-radius: 1px solid #DCDBDD;
    width: 100%;
    
}

.form-label {
    font-size: 14px;
    width: 100%;
    color: gray;
}


.btn-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.btn-login a {
    font-size: 14px;
    color: #47464A;
    width: 100%;
    text-decoration: none;
}

.btn {
    width: 80%;
    height: 50px;
    border-radius: 12px;
    color: #FFFF;
    background-color: #33A3AA;
}

.btn:hover {
    background-color: #40d0d8;
}

.btn:active{
    color: #FFFF;
}


