<div class="container-fluid">
    <div class="row row-principal">
        <div class="col-xs-12 col-text">
            <p><i class="bi bi-person-circle"></i></p>
            <h2>Iniciar sesion</h2>
        </div>

        <div class="col-xs-12 col-form-login">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="btn-login">
                    <button type="submit" class="btn">Ingresar</button>
                </div>
                
              </form>
        </div>
        

    </div>
</div>