<div class="container-fluid">
  <div class="row row-principal justify-content-center h-100">
    <!-- Columna de texto -->
    <div class="col-md-6 col-12 col-text d-flex flex-column justify-content-center align-items-center text-center mb-4 mb-md-0">
      <div class="col-titulo mb-4">
        <h3>Registrate al portal</h3>
        <p>Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Registrate y continúa aprovechando al máximo nuestra plataforma.</p>
      </div>
      <div class="col-detalle">
        <div class="titulo d-flex align-items-center mb-3">
          <div class="icon me-2">
            <img src="https://i.postimg.cc/jd14YjjZ/star-inside-circle.png" alt="">
          </div>
          <div class="descripcion">
            <h4>Monitoreo integral</h4>
            <p>Administra, monitorea múltiples plantas de forma centralizada</p>
          </div>
        </div>
        <div class="titulo d-flex align-items-center text-center mb-3">
          <div class="icon me-2">
            <img src="https://i.postimg.cc/jd14YjjZ/star-inside-circle.png" alt="">
          </div>
          <div class="descripcion">
            <h4>Notificaciones en tiempo real</h4>
            <p>Recibe notificaciones en tiempo real sobre las mediciones</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna de formulario -->
    <div class="col-md-6 col-12 col-form-login d-flex justify-content-center align-items-center">
      <form class="w-75" (ngSubmit)="onSubmit()">
        <div class="col col-titulo-form text-center mb-4">
          <h1>Portal de monitoreo</h1>
          <h2>Registrarme</h2>
        </div>
        
        <!-- input nombre -->
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputName" [(ngModel)]="nombre" name="nombre" required>
        </div>

        <!-- Input Email -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="email" name="email" required>
        </div>

        <!-- Input Contraseña -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" name="password" required>
        </div>

        <!-- Enlace y botón -->
        <div class="btn-login d-flex justify-content-between align-items-center mb-4">
          <a routerLink='/login'>¿ya estás registrado? Inicia Sesion</a>
          <button type="submit" class="btn btn-primary">Registrarme</button>
        </div>

        <!-- ReCaptcha y condiciones -->
        <div class="col col-recaptcha">
          <p>Protegido por reCAPTCHA y sujeto a la Política de Privacidad y Condiciones.</p>
        </div>
      </form>
    </div>
  </div>
</div>
