<div class="container-fluid container-table my-4">
    <div class="create-plant">
        <h5>Plantas</h5>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1"> + Nueva Planta</button>
        <app-modal></app-modal>
    </div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">País</th>
                <th scope="col">Nombre de la planta</th>
                <th scope="col" class="d-none d-md-table-cell">Lecturas</th>
                <th scope="col" class="d-none d-md-table-cell">Alertas Medias</th>
                <th scope="col" class="d-none d-md-table-cell">Alertas Rojas</th>
                <th scope="col" class="d-none d-md-table-cell">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td class="d-none d-md-table-cell">mdo</td>
                <td class="d-none d-md-table-cell">Mark</td>
                <td class="d-none d-md-table-cell">Otto</td>
                <td class="d-none d-md-table-cell">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                            <i class="bi bi-three-dots-vertical"></i> 
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal2"> <i class="bi bi-dialpad"></i> Editar</a>
                                <app-modal-edit></app-modal-edit>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" disabled> Eliminar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td class="d-none d-md-table-cell">fat</td>
                <td class="d-none d-md-table-cell">Mark</td>
                <td class="d-none d-md-table-cell">Otto</td>
                <td class="d-none d-md-table-cell">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="bi bi-dialpad"></i> Editar
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" disabled> Eliminar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>Bird</td>
                <td class="d-none d-md-table-cell">twitter</td>
                <td class="d-none d-md-table-cell">Mark</td>
                <td class="d-none d-md-table-cell">Otto</td>
                <td class="d-none d-md-table-cell">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="bi bi-dialpad"></i> Editar
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" disabled> Eliminar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>    
        </tbody>
    </table>
</div>
