<div class="container-fluid container-table my-4">
    <div class="create-plant">
        <h5>Plantas</h5>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> + Nueva Planta</button>
        <app-modal></app-modal>
    </div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">País</th>
                <th scope="col">Nombre de la planta</th>
                <th scope="col" class="d-none d-md-table-cell">Lecturas</th>
                <th scope="col" class="d-none d-md-table-cell">Alertas Medias</th>
                <th scope="col" class="d-none d-md-table-cell">Alertas Rojas</th>
                <th scope="col" class="d-none d-md-table-cell">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td class="d-none d-md-table-cell">mdo</td>
                <td class="d-none d-md-table-cell">Mark</td>
                <td class="d-none d-md-table-cell">Otto</td>
                <td class="d-none d-md-table-cell">mdo</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td class="d-none d-md-table-cell">fat</td>
                <td class="d-none d-md-table-cell">Mark</td>
                <td class="d-none d-md-table-cell">Otto</td>
                <td class="d-none d-md-table-cell">mdo</td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>Bird</td>
                <td class="d-none d-md-table-cell">twitter</td>
                <td class="d-none d-md-table-cell">Mark</td>
                <td class="d-none d-md-table-cell">Otto</td>
                <td class="d-none d-md-table-cell">mdo</td>
            </tr>
        </tbody>
    </table>
</div>
